header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  width: 100%;
  height: 75px;
  margin-bottom: 30px;
  z-index: 5;
  position: fixed;
  background-color: white;
  top: 0px;
  left: 0px;
  right: 0px;
}

.logo {
  display: flex;
  color: MediumAquamarine;
  align-items: center;
  padding-left: 30px;
  flex-grow: 1;
}

.logo img {
  margin-right: 12px;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

nav {
  display: flex;
  justify-content: flex-end;
}

nav span {
  display: inline-block;
  margin-right: 15px;
  flex-grow: 1;
}

nav span a {
  color: black;
}

.content {
  display: flex;
  margin: 0 auto 78px auto;
  z-index: 0;
  padding-top: 78px;
}

.column {
  margin-right: 32px;
  display: flex;
  flex-direction: column;
}

.column.large {
  display: flex;
  flex-direction: column;
  width: 630px;
}

.column.medium {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.column.small {
  display: flex;
  flex-direction: column;
  width: 240px;
}

.lead-story {
  display: flex;
  flex-direction: column;
}

.image-text.lead {
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
  background-image: url(./assets/images/img-story-main.png);
  align-items: center;
}

.text {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.stories {
  display: flex;
  justify-content: space-between;
}

.story {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.image-text {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  margin-top: 15px;
}

.image-text.cameras {
  background-image: url(./assets/images/img-story-3.png);
  height: 300px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.image-text.earth {
  background-image: url(./assets/images/img-story-2.png);
  height: 300px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.image-text.cats {
  background-image: url(./assets/images/img-story-1.png);
  height: 300px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.news-bites-title {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 41px;
}

.news-bites {
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  margin: 0 auto;
  border-bottom: 1px solid black;
  display: block;
  padding: 11px 20px;
}

.news-bites-sec {
  display: block;
}

.cookie {
  height: 240px;
}

footer {
  display: flex;
  height: 325px;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: -10px;
  margin-right: -10px;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-title {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding-right: 25px;
  border-right: 2px solid white;
  display: inline-block;
}

footer nav {
  display: inline-block;
  padding-left: 25px;
}

nav span {
  padding: 20px 10px;
}

.copyright {
  display: block;
}

h2 {
  font-size: 30px;
}
